#map {
  width: 100%;
  height: 665px;
}

.leaflet-container {
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 999;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
